html {
	margin: 10px;
	padding: 0;
	font-family: Verdana, Arial;
	font-size: 0.8em;
	font-weight: normal;
	font-style: normal;
}
body {
	margin: 0;
	padding: 0;
	background-color: white;
	color: black;
}
/********************************************************************************
ESTRUCTURA PRINCIPAL
********************************************************************************/
* {box-sizing: border-box;}
.column {
	float: left;
	width: 200px;
	padding: 10px;
}
div .column:nth-child(odd) {
	background-color: #f2f2f2;
}
div .column:nth-child(even) {
	background-color: #fbfbfb;
}
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
/* Style the buttons */
.btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: #f1f1f1;
	cursor: pointer;
}
.btn:hover {
	background-color: #ddd;
}
.btn.active {
	background-color: #666;
	color: white;
}
/* para 768px o menos */
@media screen and (max-width: 500px) {
	#btnContainer {
		display: none;
	}
	.column {
		width: 100%;
	}
}